.ui-inputfield {
	font-size: 12px !important;
}

.ui-button {
	height: 25px !important;
	font-size: 12px !important;
	font-weight: normal !important;
}

.ui-panel-content {
	padding: 5px !important;
}

label {
	font-size: 12px !important;
}
